* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.error-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}