* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

kbd {
    font-family: monospace;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red {
    color: rgb(212, 23, 23);
}